.cards{
    overflow-y: auto;
    overflow-x: hidden;
    color: rgb(244, 240, 240);
    padding: 1rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    flex-grow: 1;
    flex-basis: 20rem;
    padding: 0.75rem 1rem ;
    background-color: rgb(33, 32, 32);
    border-radius: 0.5rem;
    
    gap: 1.5rem;
    img{
        width: 100%;
        border-radius: .75rem;
    }
    h1{
        font-size: 1.5rem;
        font-weight: 500;
    }
    >p{
        opacity: 0.7;
        word-spacing: .4rem;
        line-height: 1.3;
    }
    .tags{
        display: flex;
        gap:1rem;
        flex-wrap: wrap;
        .tag{
            background-color: #353537;
            width: fit-content;
            padding: 0.5rem 1rem;
            border-radius: .75rem;
            letter-spacing: 1px;
            font-weight: 500;
        }
    }

    .urls{
        display: flex;
        gap: 1rem;
        a{
            text-decoration: none;
            color: white;
        }
    }
}