nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color:white;
    padding-inline:0.75rem ;
    padding-block:0.5rem ;
     background: rgba(70, 65, 65, 0.35);
     backdrop-filter: blur(14px) saturate(1.3);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   .left,.right{
    display: flex;
    align-items: center;
    gap: 2rem;
   }
   
}